﻿<!DOCTYPE html>
<html>
<div>
    <div>
        <head>
            <meta charset="utf-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>@ViewBag.Title - Study in Turkey </title>
            @*@Styles.Render("~/Content")
                @Scripts.Render("~/bundles/Scripts/js/modernizr")*@
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <meta name="viewport" content="user-scalable = yes">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <script type="text/javascript" src="~/Scripts/js/jquery.min.js"></script>
            <script type="text/javascript" src="~/Scripts/js/bootstrap.min.js"></script>
            <script type="text/javascript" src="~/Scripts/js/custom.js"></script>
            <script type='text/javascript' src="~/Scripts/js/switcher.js"></script>
            <link rel="stylesheet" href="@Url.Content("~/Content/css/style-switch.css")" />
            <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
            <link rel="stylesheet" href="@Url.Content("~/Content/css/reset.css")" />
            <link rel="stylesheet" href="@Url.Content("~/Content/css/style.css")" />
            <link rel="stylesheet" href="@Url.Content("~/Content/css/horizontal.css")" />
            <link rel='stylesheet' id='style-css' href='@Url.Content("~/Content/css/slider.css")' type='text/css' media='all' />
            <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/bootstrap-combined.min.css")" />
            <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/bootstrap.css")" />
            <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/bootstrap-responsive.css")" />
            <link rel="stylesheet" href="@Url.Content("~/Content/css/webticker.css")" type="text/css" media="screen" />



            <script>

            window.onload = function () {
                var kelime = "@TempData["mesaj"]";
                if (kelime != "") {
                    alert(kelime);

                }
            }



            </script>


            <title>News time</title>
            <style type="text/css">
                body {
                    font-family: 'Open Sans';
                    font-style: normal;
                    font-weight: 400;
                }

                .nav-tabs > li > a.blnone {
                    border-left: none !important;
                }

                .nav-tabs > li > a.brnone {
                    border-right: none !important;
                }
            </style>
            <script type="text/javascript">
            /*this is slider triger and useing only slider pages*/
            $(function () {
                "use strict";
                $('.pix_diapo').diapo();
            });
            $(function () {
                "use strict";
                $('.link').tooltip()
            });
            </script>


        </head>
    </div>
</div>
<body>

    <!--============================================TOP NAV========================================-->
    <div class="top-nav">
        <div class="navbar navbar-inverse">
            <div class="navbar-inner">
                <div class="container">
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="nav-collapse collapse">
                        <ul class="nav">

                    

                          
                        </ul>
                    </div>/.nav-collapse 
                </div>
            </div>
        </div>
    </div>
    <!--================================================================================================-->
    <!--==========================================LOGO AND AD================================================-->
    <div class="container header clearfix">
        <div class="logo pull-left">
            <a href="index.html">
                <img src="/Content/images/logo_03.png" alt="logo image" />
            </a>
        </div>
        <div class="logo pull-right">
            <img src="~/Content/images/ad_03.png" alt="header ad" />
        </div>
    </div>
    <!--================================================================================================-->
    <!--=========================================MAIN NAV=================================================-->
    <div class="main-nav">
        <div class="navbar navbar-inverse">
            <div class="navbar-inner">
                <div class="container">
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li>@Html.ActionLink(Resources.Home.Anasayfa, "Index", "Home")</li>
                            <li>@Html.ActionLink(Resources.Home.About, "About", "Home")</li>
                            <li>@Html.ActionLink(Resources.Home.Universities, "Universities", "Home")</li>
                            <li>@Html.ActionLink(Resources.Home.Admission, "Admission", "Home")</li>
                            <li>@Html.ActionLink(Resources.Home.StudentLife, "StudentLife", "Home")</li>
                            <li>@Html.ActionLink(Resources.Home.Gallery, "Gallery", "Home")</li>
                            <li>@Html.ActionLink(Resources.Home.Contact, "Contact", "Home")</li>
                            <li>@Html.ActionLink(Resources.Home.Login, "uyeGiris", "Home")</li>
                            @if (Session["lang"] == null)
                            {
                                <li>@Html.ActionLink("Türkçe", "ChangeCulture", "Home", new { lang = "en", returnurl = this.Request.RawUrl }, null)</li>
                            }
                            else
                            {
                                if (Session["lang"].ToString() == "tr")
                                {
                                    <li>@Html.ActionLink("Türkçe", "ChangeCulture", "Home", new { lang = "en", returnurl = this.Request.RawUrl }, null)</li>
                                }
                                else
                                {
                                    <li>@Html.ActionLink("English", "ChangeCulture", "Home", new { lang = "tr", returnUrl = this.Request.RawUrl }, null)</li>
                                }
                            }
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>
    </div>

    <!--================================================================================================-->
    <!--======================================MAIN CONTAINER=============================================-->

    @RenderBody();

    <footer>
        
        <div class="footer">

            <div class="container fot-wrap">
                <div class="span3 colum">
                    <div class="fot-logo">
                        <img src="~/Content/images/footer-logo-blue.png" alt="footer image" />
                    </div>
                    <div class="fot-about">
                        <p>
                            <span class="dates">  Apply now</span> To Top Turkish Foundation universities
                            By Turkey is the Best Choice For Studying.
                            The quality of the education and teaching staff at Turkish Universities offers you a
                            world of opportunities to get the skills you will need for a global world.
                        </p>
                    </div>

                </div>


                <div class="colum span3 clearfix">

                    <div class="flick-imgs clearfix">
                        <div class="flick-img pull-left">
                            <img src="~/Content/images/ist.jpg" alt="flicker" />
                        </div>


                    </div>

                </div>
                @{
                    //Html.RenderAction("_Duyuru", "Home");
                }


                <div class="colum fot-contact span3">
                    <h2 class="fot-title">Contact Info</h2>
                    <div class="location">Office Ad: Maltepe Istanbul, IS 48000</div>
                    <div class="fone">Phone: (+90) 554-2683291</div>
                    <div class="mail">Mail: omerekincikli@hotmail.com - gul.gunduz@sakarya.edu.tr</div>
                    <div class="time">Time: Mon to Fri - 09:00 am to 07:00 pm Sat 09:00 am to 04:00 pm Sunday closed</div>


                </div>

            </div>




        </div>

        <div class="bottom">
            <div class="container">
                <div class="copyrights pull-left">

                    Ömer İlteriş Ekincikli - Gül Gündüz  <span class="white"> -Study in Turkey</span>

                </div>

                <div class="pull-right social">
                    @*<h2 class="title">© 2016 by Ömer Ekincikli Study in Turkey               </h2>*@
                    <h2 class="title">Lets Social:</h2>
                    <div class="s-icon">
                        <a href="#" class="link t" data-original-title="Tumbler"></a>
                    </div>

                    <div class="s-icon">
                        <a href="https://www.facebook.com/Study-in-Turkey-2015-472710042842873/" class="link f" data-original-title="Facebook"></a>

                    </div>


                    <div class="s-icon">
                        <a href="#" class="link twit" data-original-title="Twitter"></a>
                    </div>

                    <div class="s-icon">
                        <a href="#" class="link vimeo" data-original-title="Vimeo"></a>
                    </div>

                    <div class="s-icon">
                        <a href="#" class="link skype" data-original-title="Skype"></a>
                    </div>

                    <div class="s-icon">
                        <a href="#" class="link lin" data-original-title="LinkedIn"></a>
                    </div>

                    <div class="s-icon">
                        <a href="#" class="link drib" data-original-title="Dribble"></a>
                    </div>
                </div>

            </div>





            <script type="text/javascript" src="~/Scripts/js/jquery.webticker.js"></script>
            <!--[if !IE]><!-->
            <script type='text/javascript' src='~/Scripts/js/slider/jquery.mobile-1.0rc2.customized.min.js'></script><!--<![endif]-->
            <script type='text/javascript' src='~/Scripts/js/slider/jquery.easing.1.3.js'></script>
            <script type='text/javascript' src='~/Scripts/js/slider/jquery.hoverIntent.minified.js'></script>
            <script type='text/javascript' src='~/Scripts/js/slider/diapo.js'></script>
            <script type="text/javascript" src="~/Scripts/js/horizental/modernizr.js"></script>
            <script type='text/javascript' src="~/Scripts/js/horizental/plugins.js"></script>
            <script type='text/javascript' src="~/Scripts/js/horizental/sly.js"></script>
            <script type='text/javascript' src="~/Scripts/js/horizental/horizontal.js"></script>
            <script type='text/javascript' src="~/Scripts/js/bootstrap-button.js"></script>
            <script type='text/javascript' src="~/Scripts/js/bootstrap-collapse.js"></script>
            <script type='text/javascript' src="~/Scripts/js/bootstrap-carousel.js"></script>
            <script type='text/javascript' src="~/Scripts/js/bootstrap-typeahead.js"></script>
            <script type='text/javascript' src="~/Scripts/js/jquery.isotope.min.js"></script>
            <script type='text/javascript' src="~/Scripts/js/jquery.masonry.min.js"></script>
            <script type='text/javascript' src="~/Scripts/js/script.js"></script>
            <script type='text/javascript' src="~/Scripts/log.js"></script>

    </footer>

</body>
</html>
