﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}



<section id="main-content">


    <div style="padding:90px 0 450px 0;">

    <h2 style="">HOŞGELDİN @Session["ad"]</h2>


        <h3>Soldaki Menülerden İşlemlerinizi Yapabilirsiniz </h3>
    </div>

</section>

