﻿@model IEnumerable<myProje2015.makale>

@{
    Layout = null;
}

<div class="colum span3">
    <h class="fot-title">DUYURULAR</h>
    
    @foreach (var item in Model)
    {
        <h4>@item.makaleBaslik</h4>
    <div>
        <p class="post-description">
            @item.makaleIcerik
        </p>
        <span class="dates pull-right">2 hours ago</span>

    </div>
}

</div>