﻿@model IEnumerable<slider>

@{
    Layout = null;
}

<div class="full-slider">
    <div class="clearfix slider-main">
        <div class="pix_diapo">

            @foreach (var item in Model)
            {
                <div data-thumb="">
                     <img src="@item.resimYolu" alt="slider image" />
                    <div class="caption clearfix elemHover fromTop">
                        <h2 class="pull-left">
                            @item.slidText
                        </h2>
                    </div>
                </div>
            }



        </div><!-- #pix_diapo -->
    </div>
</div>