﻿@{
    ViewBag.Title = "About";
}
<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('~/Content/images/posts/mostviewed1.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="page-heading">
                    <h1>About Us</h1>
                    <div class="fot-logo">
                        <img src="~/Content/images/about.jpg" alt="footer image" />
                    </div>
                    <hr class="small">
                    <span class="subheading"><b>This is what We do.</b></span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <p>As in all spheres of life, university education has become globalized. Every year,
             hundreds of thousands of students choose to study in foreign countries.   According to 2009 data from UNESCO,
             nearly three million students in the entire world study abroad.  
            UNESCO estimates that the number of foreign students will have reached seven million by 2020.
            </p>
            <p>The top five recipient countries include the USA, the UK, Germany, France, and Australia.
             While the United States recruits around 700,000 students per year, the United Kingdom recruits
             400,000 and Australia recruits around 300,000 foreign students.
            </p>
            <p>
            <p>In recent years, Middle Eastern and Asian countries have made a major breakthrough and have begun 
            to attract more foreign students. Malaysia, Singapore and China have reached a 12% share of the international
             student market.
            </p>
            <p> Turkey is a new player in the field of international education. It has been one of the leading countries to send students abroad.
             Whereas each year there are around 100,000 Turkish students studying abroad, there are around 26,000 international students and 5,000
             Erasmus students studying in Turkey.  Turkey is  becoming one of the most attractive countries in the region in terms of university 
            education for foreign students. 
             </p>
            <p>There are around 170 higher educational institutions in Turkey, around 75 of them are private, and the rest are state universities.
             TUPA (Turkish Universities Promotion Agency) was  founded in 2010 to promote Turkish universities and colleges around the world and to attract international students.
             TUPA was established as a private organisation which promotes “Study in Turkey” through its internet portal www.studyinturkey.com,
             the annual publication of the booklet STUDY in TURKEY, educational fairs and workshops. As Study in Turkey we assist Turkish universities 
            recruit more international students and work closely with them to develop their international networks.
            </p>


        </div>
    </div>
</div>
