﻿@{
    ViewBag.Title = "Admission";
}
<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('~/Content/images/posts/mostviewed1.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="page-heading">
                    <h1>General Application Requirements for International Students</h1>
                    <div><hr></div>
                    <div class="fot-logo">
                        <img src="~/Content/images/mysite.jpg" alt="footer image" />
                    </div>
                    <hr class="small">
                    <span class="subheading"><b>The applications of:</b></span>

                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <p>
                
                Students who are either high school graduates or are studying their last year in high school,
                Students with dual nationality who abandoned their Turkish or Turkish Republic of North Cyprus (TRNC) citizenship and who complete their entire high school  education abroad
                Citizens of TRNC who have completed their entire high school in TRNC and have GCE A/L result will be accepted. 
            </p>
            <div><hr></div>
            <span class="subheading"><b>Turkish citizens</b></span>
            <p>
                
                Citizens of TRNC (except the students who have completed their entire high school in TRNC and have GCE A/L result)
                Students with dual nationality one of which is either Turkish of TRNC (except the students who have completed their entire high school in TRNC and have GCE A/L result)
                Students with dual nationality who abandoned their Turkish or TRNC citizenship (except the students who have completed their entire high school in TRNC and have GCE A/L result) and who complete their entire high school education either in Turkey or TRNC
                Students with dual nationality who abandoned their Turkish or TRNC citizenship and who graduate from the Mission schools in Turkey
                Students expelled from an institutions of higher education in Turkey due to disciplinary action
                will not be accepted.
            </p>
            <div><hr></div>
            <span class="subheading"><b> Required Documents For Application:</b></span>
            <p>
               

                Undergraduate Application Form for international students
                Photocopy of high school diploma (if available)
                Photocopy of high school transcript (the document, approved by the school administration showing high school courses taken and grades received by the applicant)
                Photocopy of national ID card or passport
                Photocopy of exam results (if available) indicating English or Turkish proficiency (TOEFL, IELTS, TÖMER certificates, etc)
                One passport sized photo (4.5 cm x 6 cm), to be attached to the aplication form
                Photocopy of the one of the national or internetional test results (if any) listed under “The Minimum Exam Scores Required For Application”
                *All the documents have to be either in English or Turkish. If they are not, kindly attach the certified English or Turkish translations.
            </p>
            <div><hr></div>
            <span class="subheading"><b> The Main Exam Results Required For Application:</b></span>

            <p>
                

                (not all of the exam types are listed below, the list can be enlarged for including other national exams as well.)

                Gold, silver and bronze medals taken from International Science Olympiads recognized and participated in by TÜBİTAK (The Scientific and Technological Research Council of Turkey)
                SAT I (Scholastic Assessment Test)
                CT (American College Test)
                GCE (General Certificate Education) test
                International Baccalaureate
                German ABITUR
                French Baccalaureate
                Matura diploma
                Tawjihi of Jordan and Palestine
                Lebanese Baccalaureate (Baccalauréat Libanais)
                Al-Shahada al-Thanawiyya (Baccalaureate) of Syria
                High School Diploma of Iran (Diploma Debirestan)
                National University Test of Kazakhstan (ENT- ЕНТ) and/or High School Graduation Test results
                High School Graduation Test (EGE- ЕГЭ) results of Russia
                National University Test of Azerbaijan (TQDK) and/or High School Graduation Test results (Attestat)
                National University Test of Georgia and/or High School Graduation Test results
                National University Test of Ukraine (ZNO- ЗНО) results and/or High School Graduation Test results
                National University Test of Kyrgyzstan (ORT- ОРТ) and/or High School Graduation Test results
                National University Test of Belorussia (TsT- ЦТ) and/or High School Graduation Test results
                Gaokaonda-University Entrance Exam of the People’s Republic of China
            </p>
            <p>
                There will be no limitation for the validity period of the Baccalaureate exams such as ABITUR, International Baccalaureate, 
                GCE, Tawjihi which are proposed for the application assessment in admission to the university. 
                 However, the results of the university entrance examinations such as SAT, GAOKAO,
                 National University Examination of Kazakhstan etc. will be valid for two years only.

            </p>
        </div>
    </div>
</div>
