﻿@{
    ViewBag.Title = "Contact";
}
@*@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/Scripts/js/modernizr")*@

  <!--==========================================MAIN CONTAINER STARTING=====================================-->
<div class="container">
 

    <div class="row sidebars clearfix">
        <!--two sidebar's container start-->
        <!--===================================LEFT BAR=========================================================-->

        <div class="span8 left-sidebar">


            <div id="gmap">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d222.540864316623!2d29.106753760020215!3d40.94773728725094!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x9d266c485f21bbc1!2sWebservis+%C4%B0leti%C5%9Fim+Hizmetleri!5e1!3m2!1str!2str!4v1478886539602" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>

            <div class="contact clearfix">

                <div class="span4">
                    <h2 class="title">Apply Now</h2>
                    <p class="rand-text">
                        Apply now to Top Turkish Foundation universities By Turkey is the Best Choice For Studying.
                        The quality of the education and teaching staff at Turkish Universities offers you a world of opportunities to get the skills you will need for a global world.

                    </p>
                </div>

                <div class="span4">
                    <h2 class="title">Contact Info</h2>

                    <div class="location">Office Ad: SAM ,Maltepe Istanbul , ST 48000</div>
                    <div class="fone">Phone: (+90) 554-268-3291 </div>
                    <div class="mail">E-mail:omerekincikli@hotmail.com - gul.gunduz@sakarya.edu.tr</div>
                    <div class="time">Time: Mon to Fri - 09:00 am to 07:00 pm Sat 09:00 am to 04:00 pm Sunday closed</div>



                </div>

            </div>

            <div class="leave-comment contact-pg">

                <h2 class="title">Leave Message</h2>
                <form role="form">
                    <div class="form-group span4">
                        <label for="exampleInputEmail1">Name<span>*</span></label>
                        <input type="text" class="form-control  span4" id="exampleInputEmail1" />
                    </div>
                    <div class="form-group span4">
                        <label for="exampleInputPassword1">E-mail<span>*</span></label>
                        <input type="text" class="form-control  span4" id="exampleInputPassword1" />
                    </div>
                    <label for="exampleInputEmail1">Message<span>*</span></label>
                    <textarea class="form-control span8" rows="3"></textarea>
                    <input type="submit" value="Submit" class="btn-submit">
                </form>

            </div>






        </div>


        <!--================================================================================================-->
        <!--===============================RIGHT SIDE BAR=======================================================-->
        <div class="span4 right-sidebar">
            <div class="tabber">
                <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
                    <li class="active">
                        <a href="#popular" data-toggle="tab" class="blnone">Popular</a>
                        <div class="flow"></div>
                    </li>
                    <li>
                        <a href="#recent" data-toggle="tab">Recent</a>
                    </li>
                    <li>
                        <a href="#comment" data-toggle="tab" class="brnone">Comment</a>
                    </li>

                </ul>
                <div id="my-tab-content" class="tab-content">
                    <div class="tab-pane active" id="popular">


                        <div class="photo-single clearfix">
                            <div class="gal-img pull-left">
                                <img src="~/Content/images/posts/popular1.jpg" alt="gallery image" />
                            </div>
                            <div class="gal-link pull-right">
                                <h3 class="post-title">
                                    Putin’s party has dominationcut
                                    in Russia
                                </h3>

                                <span class="dates">By : John doe</span>

                               

                            </div>

                        </div>


                        <div class="dhr"></div>

                        <div class="photo-single clearfix">
                            <div class="gal-img pull-left">
                                <img src="~/Content/images/posts/popular2.jpg" alt="gallery image" />
                            </div>
                            <div class="gal-link pull-right">
                                <h3 class="post-title">
                                    Putin’s party has dominationcut
                                    in Russia
                                </h3>

                                <span class="dates">By : John doe</span>



                            </div>

                        </div>

                        <div class="dhr"></div>

                        <div class="photo-single clearfix">
                            <div class="gal-img pull-left">
                                <img src="~/Content/images/posts/popular3.jpg" alt="gallery image" />
                            </div>
                            <div class="gal-link pull-right">
                                <h3 class="post-title">
                                    Putin’s party has dominationcut
                                    in Russia
                                </h3>

                                <span class="dates">By : John doe</span>



                            </div>

                        </div>

                        <div class="dhr"></div>

                        <div class="photo-single clearfix">
                            <div class="gal-img pull-left">
                                <img src="~/Content/images/posts/popular4.jpg" alt="gallery image" />
                            </div>
                            <div class="gal-link pull-right">
                                <h3 class="post-title">
                                    Putin’s party has dominationcut
                                    in Russia
                                </h3>

                                <span class="dates">By : John doe</span>



                            </div>

                        </div>



                    </div>
                    <div class="tab-pane" id="recent">

                        <div class="photo-single clearfix">
                            <div class="gal-img pull-left">
                                <img src="~/Content/images/posts/popular1.jpg" alt="gallery image" />
                            </div>
                            <div class="gal-link pull-right">
                                <h3 class="post-title">
                                    Putin’s party has dominationcut
                                    in Russia
                                </h3>

                                <span class="dates">By : John doe</span>



                            </div>

                        </div>

                        <div class="dhr"></div>

                        <div class="photo-single clearfix">
                            <div class="gal-img pull-left">
                                <img src="~/Content/images/posts/popular2.jpg" alt="gallery image" />
                            </div>
                            <div class="gal-link pull-right">
                                <h3 class="post-title">
                                    Putin’s party has dominationcut
                                    in Russia
                                </h3>

                                <span class="dates">By : John doe</span>



                            </div>

                        </div>

                        <div class="dhr"></div>

                        <div class="photo-single clearfix">
                            <div class="gal-img pull-left">
                                <img src="~/Content/images/posts/popular4.jpg" alt="gallery image" />
                            </div>
                            <div class="gal-link pull-right">
                                <h3 class="post-title">
                                    Putin’s party has dominationcut
                                    in Russia
                                </h3>

                                <span class="dates">By : John doe</span>



                            </div>

                        </div>

                        <div class="dhr"></div>

                        <div class="photo-single clearfix">
                            <div class="gal-img pull-left">
                                <img src="~/Content/images/posts/popular3.jpg" alt="gallery image" />
                            </div>
                            <div class="gal-link pull-right">
                                <h3 class="post-title">
                                    Putin’s party has dominationcut
                                    in Russia
                                </h3>

                                <span class="dates">By : John doe</span>



                            </div>

                        </div>
                    </div>
                    <div class="tab-pane" id="comment">

                        <div class="photo-single clearfix">
                            <div class="gal-img pull-left">
                                <img src="~/Content/images/posts/popular1.jpg" alt="gallery image" />
                            </div>
                            <div class="gal-link pull-right">
                                <h3 class="post-title">
                                    Putin’s party has dominationcut
                                    in Russia
                                </h3>

                                <span class="dates">By : John doe</span>



                            </div>

                        </div>

                        <div class="dhr"></div>

                        <div class="photo-single clearfix">
                            <div class="gal-img pull-left">
                                <img src="~/Content/images/posts/popular2.jpg" alt="gallery image" />
                            </div>
                            <div class="gal-link pull-right">
                                <h3 class="post-title">
                                    Putin’s party has dominationcut
                                    in Russia
                                </h3>

                                <span class="dates">By : John doe</span>



                            </div>

                        </div>

                        <div class="dhr"></div>

                        <div class="photo-single clearfix">
                            <div class="gal-img pull-left">
                                <img src="~/Content/images/posts/popular3.jpg" alt="gallery image" />
                            </div>
                            <div class="gal-link pull-right">
                                <h3 class="post-title">
                                    Putin’s party has dominationcut
                                    in Russia
                                </h3>

                                <span class="dates">By : John doe</span>



                            </div>

                        </div>

                        <div class="dhr"></div>

                        <div class="photo-single clearfix">
                            <div class="gal-img pull-left">
                                <img src="~/Content/images/posts/popular4.jpg" alt="gallery image" />
                            </div>
                            <div class="gal-link pull-right">
                                <h3 class="post-title">
                                    Putin’s party has dominationcut
                                    in Russia
                                </h3>

                                <span class="dates">By : John doe</span>



                            </div>

                        </div>
                    </div>

                </div>
            </div>


            <div class="most-viewed clearfix">

                <h2 class="title">Most Videwed</h2>

                <div class="span4 clearfix">
                    <div class="single-img pull-left">
                        <img src="~/Content/images/posts/mostviewed1.jpg" alt="most" />
                    </div>
                    <div class="single-img pull-left">
                        <img src="~/Content/images/posts/mostviewed2.jpg" alt="most" />
                    </div>
                    <div class="single-img pull-left">
                        <img src="~/Content/images/posts/mostviewed3.jpg" alt="most" />
                    </div>
                    <div class="single-img pull-left">
                        <img src="~/Content/images/posts/mostviewed4.jpg" alt="most" />
                    </div>
                    <div class="single-img pull-left">
                        <img src="~/Content/images/posts/mostviewed1.jpg" alt="most" />
                    </div>
                    <div class="single-img pull-left">
                        <img src="~/Content/images/posts/mostviewed1.jpg" alt="most" />
                    </div>

                </div>

            </div>

            <div class="tweets">
                <h2 class="title">Latest Tweets</h2>

                <div class="single-tweet">
                    <p class="post-description">
                        ulla cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                        <a href="#">http://example.com</a>
                    </p>
                    <span class="dates">2 hours ago</span>

                </div>

                <div class="single-tweet">
                    <p class="post-description">
                        ulla cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                        <a href="#">http://example.com</a>
                    </p>
                    <span class="dates">2 hours ago</span>

                </div>

                <div class="single-tweet">
                    <p class="post-description">
                        ulla cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                        <a href="#">http://example.com</a>
                    </p>
                    <span class="dates">2 hours ago</span>

                </div>

            </div>


            <div class="br"></div>

        </div>

        <!--===================================RIGHT SIDE AND BOTH BARS END===========================================-->
    </div> <!--two sidebar's container end-->



</div>

