﻿
@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<!--====================================MAIN CONTAINER START===============================================-->
<div class="container">
  


    <div class="row sidebars clearfix">
        <!--two sidebar's container start-->
        <!--===========================================LEFT SIDE BAR ===============================================-->

        <div class="span8 left-sidebar">

            <section>
                <div class="post">
                    <div class="post-image">
                        <img src="~/Content/images/slider/img3.jpg" alt="post image" />
                        <div class="type-icon">
                            <div class="type-photo"></div>
                        </div>
                        <div class="stars-img">
                            <div class="stars">
                                <span class="star-icon fulli">☆</span>
                                <span class="star-icon fulli">☆</span>
                                <span class="star-icon fulli">☆</span>
                                <span class="star-icon">☆</span>
                                <span class="star-icon">☆</span>
                            </div>
                        </div>
                    </div>
                    <div class="detail-post clearfix">
                        <div class="clearfix">
                            <div class="up-date pull-left">
                                <div class="date">21</div>
                                <div class="up-month">jan-2013</div>
                            </div>
                            <h2 class="detail-post-title pull-left">Car racing just has started from today...</h2>
                        </div>
                        <p class="post-description">
                            Aenean sollicitudin lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi.

                            <h6>Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. 				Proin condimentum fermentum nunc.</h6>

                        <p class="post-description">
                            Aenean sollicitudin lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi.
                        </p>

                    </div>


                </div>

            </section>



            <!--=====================================RELATED POSTS===================================================-->


            <div class="relted-posts br clearfix">
                <h2 class="title">Related News</h2>
                <div class="controls pull-right">
                    <button disabled="disabled" class="btn prev disabled">
                        <i class="icon-left"></i>
                    </button>
                    <button class="btn next">
                        <i class="icon-right"></i>
                    </button>
                </div>
                <div class="frame oneperframe" id="oneperframe">
                    <ul class="clearfix">
                        <li class="active clearfix">

                            <div class="pull-left rel-post">
                                <div class="post-image">
                                    <img src="~/Content/images/posts/related1.jpg" alt="image" />
                                    <div class="type-icon">
                                        <div class="type-photo"></div>
                                    </div>
                                    <div class="stars-img">
                                        <div class="stars">
                                            <span class="star-icon fulli">☆</span>
                                            <span class="star-icon fulli">☆</span>
                                            <span class="star-icon fulli">☆</span>
                                            <span class="star-icon">☆</span>
                                            <span class="star-icon">☆</span>
                                        </div>
                                    </div>
                                </div>
                                <h3 class="post-title"><a href="#">New car just...</a></h3>
                                <span class="dates">December 21, 2013</span>
                                <p class="post-description">Aenean sollicitudin loremuisi num auctor nisi elit...</p>
                            </div>

                            <div class="pull-left rel-post">
                                <div class="post-image">
                                    <img src="~/Content/images/posts/related2.jpg" alt="image" />
                                    <div class="type-icon">
                                        <div class="type-video"></div>
                                    </div>
                                    <div class="stars-img">
                                        <div class="stars">
                                            <span class="star-icon fulli">☆</span>
                                            <span class="star-icon fulli">☆</span>
                                            <span class="star-icon fulli">☆</span>
                                            <span class="star-icon">☆</span>
                                            <span class="star-icon">☆</span>
                                        </div>
                                    </div>
                                </div>
                                <h3 class="post-title"><a href="#">New car just...</a></h3>
                                <span class="dates">December 21, 2013</span>
                                <p class="post-description">Aenean sollicitudin loremuisi num auctor nisi elit...</p>
                            </div>

                            <div class="pull-left rel-post">
                                <div class="post-image">
                                    <img src="~/Content/images/posts/related3.jpg" alt="image" />
                                    <div class="type-icon">
                                        <div class="type-photo"></div>
                                    </div>
                                    <div class="stars-img">
                                        <div class="stars">
                                            <span class="star-icon fulli">☆</span>
                                            <span class="star-icon fulli">☆</span>
                                            <span class="star-icon fulli">☆</span>
                                            <span class="star-icon">☆</span>
                                            <span class="star-icon">☆</span>
                                        </div>
                                    </div>
                                </div>
                                <h3 class="post-title"><a href="#">New car just...</a></h3>
                                <span class="dates">December 21, 2013</span>
                                <p class="post-description">Aenean sollicitudin loremuisi num auctor nisi elit...</p>
                            </div>

                            <div class="pull-left rel-post">
                                <div class="post-image">
                                    <img src="~/Content/images/posts/related4.jpg" alt="image" />
                                    <div class="type-icon">
                                        <div class="type-photo"></div>
                                    </div>
                                    <div class="stars-img">
                                        <div class="stars">
                                            <span class="star-icon fulli">☆</span>
                                            <span class="star-icon fulli">☆</span>
                                            <span class="star-icon fulli">☆</span>
                                            <span class="star-icon">☆</span>
                                            <span class="star-icon">☆</span>
                                        </div>
                                    </div>
                                </div>
                                <h3 class="post-title"><a href="#">New car just...</a></h3>
                                <span class="dates">December 21, 2013</span>
                                <p class="post-description">Aenean sollicitudin loremuisi num auctor nisi elit...</p>
                            </div>

                        </li>
                        <li class="clearfix">

                            <div class="pull-left rel-post">
                                <div class="post-image">
                                    <img src="~/Content/images/posts/related1.jpg" alt="image" />
                                    <div class="type-icon">
                                        <div class="type-photo"></div>
                                    </div>
                                    <div class="stars-img">
                                        <div class="stars">
                                            <span class="star-icon fulli">☆</span>
                                            <span class="star-icon fulli">☆</span>
                                            <span class="star-icon fulli">☆</span>
                                            <span class="star-icon">☆</span>
                                            <span class="star-icon">☆</span>
                                        </div>
                                    </div>
                                </div>
                                <h3 class="post-title"><a href="#">New car just...</a></h3>
                                <span class="dates">December 21, 2013</span>
                                <p class="post-description">Aenean sollicitudin loremuisi num auctor nisi elit...</p>
                            </div>

                            <div class="pull-left rel-post">
                                <div class="post-image">
                                    <img src="~/Content/images/posts/related2.jpg" alt="image" />
                                    <div class="type-icon">
                                        <div class="type-video"></div>
                                    </div>
                                    <div class="stars-img">
                                        <div class="stars">
                                            <span class="star-icon fulli">☆</span>
                                            <span class="star-icon fulli">☆</span>
                                            <span class="star-icon fulli">☆</span>
                                            <span class="star-icon">☆</span>
                                            <span class="star-icon">☆</span>
                                        </div>
                                    </div>
                                </div>
                                <h3 class="post-title"><a href="#">New car just...</a></h3>
                                <span class="dates">December 21, 2013</span>
                                <p class="post-description">Aenean sollicitudin loremuisi num auctor nisi elit...</p>
                            </div>

                            <div class="pull-left rel-post">
                                <div class="post-image">
                                    <img src="~/Content/images/posts/related3.jpg" alt="image" />
                                    <div class="type-icon">
                                        <div class="type-photo"></div>
                                    </div>
                                    <div class="stars-img">
                                        <div class="stars">
                                            <span class="star-icon fulli">☆</span>
                                            <span class="star-icon fulli">☆</span>
                                            <span class="star-icon fulli">☆</span>
                                            <span class="star-icon">☆</span>
                                            <span class="star-icon">☆</span>
                                        </div>
                                    </div>
                                </div>
                                <h3 class="post-title"><a href="#">New car just...</a></h3>
                                <span class="dates">December 21, 2013</span>
                                <p class="post-description">Aenean sollicitudin loremuisi num auctor nisi elit...</p>
                            </div>

                            <div class="pull-left rel-post">
                                <div class="post-image">
                                    <img src="~/Content/images/posts/related4.jpg" alt="image" />
                                    <div class="type-icon">
                                        <div class="type-photo"></div>
                                    </div>
                                    <div class="stars-img">
                                        <div class="stars">
                                            <span class="star-icon fulli">☆</span>
                                            <span class="star-icon fulli">☆</span>
                                            <span class="star-icon fulli">☆</span>
                                            <span class="star-icon">☆</span>
                                            <span class="star-icon">☆</span>
                                        </div>
                                    </div>
                                </div>
                                <h3 class="post-title"><a href="#">New car just...</a></h3>
                                <span class="dates">December 21, 2013</span>
                                <p class="post-description">Aenean sollicitudin loremuisi num auctor nisi elit...</p>
                            </div>




                        </li>
                    </ul>
                </div>


            </div>
            <div class="br"></div>
            <!--=====================================COMMENTS=====================================================-->
            <h2 class="title">13 Comments</h2>
            <div class="comments">
                <div class="main-comment clearfix">

                    <div class="author pull-left">
                        <img src="~/Content/images/authors/author1.png" alt="author imaage" />
                    </div>

                    <div class="comment-text clearfix">
                        <div class="author-name pull-left">
                            <i class="icon-large icon-user"></i><span class="a-name">Author</span>
                        </div>

                        <div class="time pull-left">21 jan, 2013</div>

                        <div class="pull-left c-text">
                            <p class="c-text">Wow I just love to watch race. I’m so curious about the winner who gonna win !</p>
                        </div>

                        <div class="reply-btn pull-left">
                            <a href="#">Reply</a>
                        </div>

                    </div>

                    <div class="hr-only"></div>

                    <div class="comment-reply main-comment">

                        <div class="author pull-left">
                            <img src="~/Content/images/authors/author13.png" alt="author imaage" />
                        </div>

                        <div class="comment-text clearfix">
                            <div class="author-name pull-left">
                                <i class="icon-large icon-user"></i><span class="a-name">Author</span>
                            </div>

                            <div class="time pull-left">21 jan, 2013</div>

                            <div class="pull-left c-text">
                                <p class="c-text">Wow I just love to watch race. I’m so curious about the winner who gonna win !</p>
                            </div>

                            <div class="reply-btn pull-left">
                                <a href="#">Reply</a>
                            </div>

                        </div>

                        <div class="hr-only"></div>



                    </div>

                </div>

                <div class="main-comment">

                    <div class="author pull-left">
                        <img src="~/Content/images/authors/author12.png" alt="author imaage" />
                    </div>

                    <div class="comment-text clearfix">
                        <div class="author-name pull-left">
                            <i class="icon-large icon-user"></i><span class="a-name">Author</span>
                        </div>

                        <div class="time pull-left">21 jan, 2013</div>

                        <div class="pull-left c-text">
                            <p class="c-text">Wow I just love to watch race. I’m so curious about the winner who gonna win !</p>
                        </div>

                        <div class="reply-btn pull-left">
                            <a href="#">Reply</a>
                        </div>

                    </div>

                    <div class="hr-only"></div>



                </div>

                <div class="comment-reply main-comment">

                    <div class="author pull-left">
                        <img src="~/Content/images/authors/author13.png" alt="author imaage" />
                    </div>

                    <div class="comment-text clearfix">
                        <div class="author-name pull-left">
                            <i class="icon-large icon-user"></i><span class="a-name">Author</span>
                        </div>

                        <div class="time pull-left">21 jan, 2013</div>

                        <div class="pull-left c-text">
                            <p class="c-text">Wow I just love to watch race. I’m so curious about the winner who gonna win !</p>
                        </div>

                        <div class="reply-btn pull-left">
                            <a href="#">Reply</a>
                        </div>

                    </div>

                    <div class="hr-only"></div>

                    <div class="comment-reply main-comment">

                        <div class="author pull-left">
                            <img src="~/Content/images/authors/author1.png" alt="author imaage" />
                        </div>

                        <div class="comment-text clearfix">
                            <div class="author-name pull-left">
                                <i class="icon-large icon-user"></i><span class="a-name">Author</span>
                            </div>

                            <div class="time pull-left">21 jan, 2013</div>

                            <div class="pull-left c-text">
                                <p class="c-text">Wow I just love to watch race. I’m so curious about the winner who gonna win !</p>
                            </div>

                            <div class="reply-btn pull-left">
                                <a href="#">Reply</a>
                            </div>

                        </div>

                        <div class="hr-only"></div>



                    </div>


                </div>

            </div>
            <!--==================================LEAVE COMMENTS==================================================-->
            <div class="leave-comment">

                <h2 class="title">Leave Message</h2>
                <form role="form">
                    <div class="form-group span4">
                        <label for="exampleInputEmail1">Name<span>*</span></label>
                        <input type="text" class="form-control  span4" id="exampleInputEmail1" />
                    </div>
                    <div class="form-group span4">
                        <label for="exampleInputPassword1">E-mail<span>*</span></label>
                        <input type="text" class="form-control  span4" id="exampleInputPassword1" />
                    </div>
                    <label for="exampleInputEmail1">Comment<span>*</span></label>
                    <textarea class="form-control span8" rows="3"></textarea>
                    <input type="submit" value="Submit" class="btn-submit">
                </form>

            </div>




            <div class="br"></div>
            <!--=================================BOTTOM AD====================================================-->
            <div class="ad-bar clearfix">
                <h3 class="post-title pull-left">
                    <span class="dates">News Time</span> is a News & Magazine PSD Theme you ever buy
                    Enjoy to purchase now !
                </h3>
                <div class="load-more pull-right">
                    <a href="#">Browse more..</a>
                </div>

            </div>


        </div>


        <!--================================================================================================-->
        <!--========================================RIGHT SIDE BAR===========================================-->
        <div class="span4 right-sidebar">
            <div class="tabber">
                <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
                    <li class="active">
                        <a href="#popular" data-toggle="tab" class="blnone">Popular</a>
                        <div class="flow"></div>
                    </li>
                    <li>
                        <a href="#recent" data-toggle="tab">Recent</a>
                    </li>
                    <li>
                        <a href="#comment" data-toggle="tab" class="brnone">Comment</a>
                    </li>

                </ul>
                <div id="my-tab-content" class="tab-content">
                    <div class="tab-pane active" id="popular">


                        <div class="photo-single clearfix">
                            <div class="gal-img pull-left">
                                <img src="~/Content/images/posts/popular1.jpg" alt="gallery image" />
                            </div>
                            <div class="gal-link pull-right">
                                <h3 class="post-title">
                                    Putin’s party has dominationcut
                                    in Russia
                                </h3>

                                <span class="dates">By : John doe</span>



                            </div>

                        </div>

                        <div class="dhr"></div>

                        <div class="photo-single clearfix">
                            <div class="gal-img pull-left">
                                <img src="~/Content/images/posts/popular2.jpg" alt="gallery image" />
                            </div>
                            <div class="gal-link pull-right">
                                <h3 class="post-title">
                                    Putin’s party has dominationcut
                                    in Russia
                                </h3>

                                <span class="dates">By : John doe</span>



                            </div>

                        </div>

                        <div class="dhr"></div>

                        <div class="photo-single clearfix">
                            <div class="gal-img pull-left">
                                <img src="~/Content/images/posts/popular3.jpg" alt="gallery image" />
                            </div>
                            <div class="gal-link pull-right">
                                <h3 class="post-title">
                                    Putin’s party has dominationcut
                                    in Russia
                                </h3>

                                <span class="dates">By : John doe</span>



                            </div>

                        </div>

                        <div class="dhr"></div>

                        <div class="photo-single clearfix">
                            <div class="gal-img pull-left">
                                <img src="~/Content/images/posts/popular4.jpg" alt="gallery image" />
                            </div>
                            <div class="gal-link pull-right">
                                <h3 class="post-title">
                                    Putin’s party has dominationcut
                                    in Russia
                                </h3>

                                <span class="dates">By : John doe</span>



                            </div>

                        </div>



                    </div>
                    <div class="tab-pane" id="recent">
                        <div class="photo-single clearfix">
                            <div class="gal-img pull-left">
                                <img src="~/Content/images/posts/popular1.jpg" alt="gallery image" />
                            </div>
                            <div class="gal-link pull-right">
                                <h3 class="post-title">
                                    Putin’s party has dominationcut
                                    in Russia
                                </h3>

                                <span class="dates">By : John doe</span>



                            </div>

                        </div>

                        <div class="dhr"></div>

                        <div class="photo-single clearfix">
                            <div class="gal-img pull-left">
                                <img src="~/Content/images/posts/popular2.jpg" alt="gallery image" />
                            </div>
                            <div class="gal-link pull-right">
                                <h3 class="post-title">
                                    Putin’s party has dominationcut
                                    in Russia
                                </h3>

                                <span class="dates">By : John doe</span>



                            </div>

                        </div>

                        <div class="dhr"></div>

                        <div class="photo-single clearfix">
                            <div class="gal-img pull-left">
                                <img src="~/Content/images/posts/popular3.jpg" alt="gallery image" />
                            </div>
                            <div class="gal-link pull-right">
                                <h3 class="post-title">
                                    Putin’s party has dominationcut
                                    in Russia
                                </h3>

                                <span class="dates">By : John doe</span>



                            </div>

                        </div>

                        <div class="dhr"></div>

                        <div class="photo-single clearfix">
                            <div class="gal-img pull-left">
                                <img src="~/Content/images/posts/popular4.jpg" alt="gallery image" />
                            </div>
                            <div class="gal-link pull-right">
                                <h3 class="post-title">
                                    Putin’s party has dominationcut
                                    in Russia
                                </h3>

                                <span class="dates">By : John doe</span>



                            </div>

                        </div>
                    </div>
                    <div class="tab-pane" id="comment">
                        <div class="photo-single clearfix">
                            <div class="gal-img pull-left">
                                <img src="~/Content/images/posts/popular1.jpg" alt="gallery image" />
                            </div>
                            <div class="gal-link pull-right">
                                <h3 class="post-title">
                                    Putin’s party has dominationcut
                                    in Russia
                                </h3>

                                <span class="dates">By : John doe</span>



                            </div>

                        </div>

                        <div class="dhr"></div>

                        <div class="photo-single clearfix">
                            <div class="gal-img pull-left">
                                <img src="~/Content/images/posts/popular2.jpg" alt="gallery image" />
                            </div>
                            <div class="gal-link pull-right">
                                <h3 class="post-title">
                                    Putin’s party has dominationcut
                                    in Russia
                                </h3>

                                <span class="dates">By : John doe</span>



                            </div>

                        </div>

                        <div class="dhr"></div>

                        <div class="photo-single clearfix">
                            <div class="gal-img pull-left">
                                <img src="~/Content/images/posts/popular3.jpg" alt="gallery image" />
                            </div>
                            <div class="gal-link pull-right">
                                <h3 class="post-title">
                                    Putin’s party has dominationcut
                                    in Russia
                                </h3>

                                <span class="dates">By : John doe</span>



                            </div>

                        </div>

                        <div class="dhr"></div>

                        <div class="photo-single clearfix">
                            <div class="gal-img pull-left">
                                <img src="~/Content/images/posts/popular1.jpg" alt="gallery image" />
                            </div>
                            <div class="gal-link pull-right">
                                <h3 class="post-title">
                                    Putin’s party has dominationcut
                                    in Russia
                                </h3>

                                <span class="dates">By : John doe</span>



                            </div>

                        </div>
                    </div>

                </div>
            </div>


            <div class="most-viewed clearfix">

                <h2 class="title">Most Videwed</h2>

                <div class="span4 clearfix">
                    <div class="single-img pull-left">
                        <img src="~/Content/images/posts/mostviewed1.jpg" alt="most" />
                    </div>
                    <div class="single-img pull-left">
                        <img src="~/Content/images/posts/mostviewed2.jpg" alt="most" />
                    </div>
                    <div class="single-img pull-left">
                        <img src="~/Content/images/posts/mostviewed3.jpg" alt="most" />
                    </div>
                    <div class="single-img pull-left">
                        <img src="~/Content/images/posts/mostviewed4.jpg" alt="most" />
                    </div>
                    <div class="single-img pull-left">
                        <img src="~/Content/images/posts/mostviewed1.jpg" alt="most" />
                    </div>
                    <div class="single-img pull-left">
                        <img src="~/Content/images/posts/mostviewed3.jpg" alt="most" />
                    </div>

                </div>

            </div>

            <div class="tweets">
                <h2 class="title">Latest Tweets</h2>

                <div class="single-tweet">
                    <p class="post-description">
                        ulla cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                        <a href="#">http://example.com</a>
                    </p>
                    <span class="dates">2 hours ago</span>

                </div>

                <div class="single-tweet">
                    <p class="post-description">
                        ulla cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                        <a href="#">http://example.com</a>
                    </p>
                    <span class="dates">2 hours ago</span>

                </div>

                <div class="single-tweet">
                    <p class="post-description">
                        ulla cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                        <a href="#">http://example.com</a>
                    </p>
                    <span class="dates">2 hours ago</span>

                </div>

            </div>

            <div class="newsletter clearfix">
                <h2 class="title">Newsletter</h2>
                <p class="post-description">
                    ulla cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.

                </p>
                <form class="form-inline" role="form">

                    <input type="text" class="leter email" id="exampleInputEmail2" placeholder="Full Name">

                    <input type="text" class="leter" id="exampleInputPassword2" placeholder="Email">
                    <input type="submit" class="btn-submit" value="Submit" />
                </form>

            </div>


            <div class="tags clearfix">
                <h2 class="title clearfix">Tags</h2>
                <div class="all-tags">
                    <div class="tag pull-left">
                        <a href="#">Design</a>
                    </div>
                    <div class="tag pull-left">
                        <a href="#">News</a>
                    </div>
                    <div class="tag pull-left">
                        <a href="#">Time</a>
                    </div>
                    <div class="tag pull-left">
                        <a href="#">Photoshop</a>
                    </div>
                    <div class="tag pull-left">
                        <a href="#">Blog</a>
                    </div>
                    <div class="tag pull-left">
                        <a href="#">Magazine</a>
                    </div>
                    <div class="tag pull-left">
                        <a href="#">Bright</a>
                    </div>
                    <div class="tag pull-left">
                        <a href="#">HTML</a>
                    </div>
                </div>

            </div>


            <div class="advertisment clearfix">
                <h2 class="title">Advertisement</h2>
                <div class="ads">
                    <div class="small-box span2">
                        <a href="http://codecanyon.net/item/fb-email-graber-with-aweber-and-getrespons/6285897" target="_blank">
                            <img src="~/Content/images/ad/ad01_03.jpg" alt="ad" />
                        </a>
                    </div>
                    <div class="small-box span2">
                        <a href="http://codecanyon.net/item/youtube-video-search/5986577" target="_blank">
                            <img src="~/Content/images/ad/ad02_03.jpg" alt="ad" />
                        </a>
                    </div>

                    <div class="small-box span2">
                        <a href="http://codecanyon.net/item/url-scraper/5942825" target="_blank">
                            <img src="~/Content/images/ad/ad03_03.jpg" alt="ad" />
                        </a>
                    </div>
                    <div class="small-box span2">
                        <a href="http://codecanyon.net/item/youtube-video-search/5986577" target="_blank">
                            <img src="~/Content/images/ad/ad04_03.jpg" alt="ad" />
                        </a>
                    </div>

                    <div class="small-box span4">
                        <a href="http://codecanyon.net/item/fb-email-graber-with-aweber-and-getrespons/6285897" target="_blank">
                            <img src="~/Content/images/ad/ad05_03.jpg" alt="ad" />
                        </a>
                    </div>
                </div>
            </div>

        </div>

        <!--================================================================================================-->
    </div> <!--two sidebar's container end-->



</div>
<!--=========================================MAIN NAV END===================================================-->
