﻿
@{
    ViewBag.Title = "Gallery";
}



        <!--two sidebar's container start-->        <!--========================================ISOTOP=============================================-->
        <section class="section-content section-isotope" id="section-isotope">
            <div class="container">

                <div id="filters">
                    <ul class="nav nav-pills">
                        <li class="active">
                            <a data-filter="*" href="#">all</a>
                        </li>
                        <li class="">
                            <a data-filter=".filter-2" href="#">quas ex</a>
                        </li>
                        <li class="">
                            <a data-filter=".filter-3" href="#">deserunt nemo</a>
                        </li>
                        <li class="">
                            <a data-filter=".filter-p" href="#">reiciendis</a>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="isotope" id="container-isotope">
                        <div class="span3 isotope-item filter-p">
                            <figure class="post-image">
                                <img alt="" src="~/Content/images/gallery/gallery1.jpg">
                                <div class="type-icon">
                                    <div class="type-photo"></div>
                                </div>
                                <div class="stars-img">
                                    <div class="stars">
                                        <span class="star-icon fulli">☆</span>
                                        <span class="star-icon fulli">☆</span>
                                        <span class="star-icon fulli">☆</span>
                                        <span class="star-icon">☆</span>
                                        <span class="star-icon">☆</span>
                                    </div>
                                </div>
                            </figure>
                        </div>
                        <div class="span3 isotope-item filter-p filter-2">
                            <figure class="post-image">
                                <img alt="" src="~/Content/images/gallery/gallery2.jpg">
                                <div class="type-icon">
                                    <div class="type-photo"></div>
                                </div>
                                <div class="stars-img">
                                    <div class="stars">
                                        <span class="star-icon fulli">☆</span>
                                        <span class="star-icon fulli">☆</span>
                                        <span class="star-icon fulli">☆</span>
                                        <span class="star-icon">☆</span>
                                        <span class="star-icon">☆</span>
                                    </div>
                                </div>
                            </figure>
                        </div>
                        <div class="span3 isotope-item filter-p filter-3">
                            <figure class="post-image">
                                <img alt="" src="~/Content/images/gallery/gallery3.jpg">
                                <div class="type-icon">
                                    <div class="type-photo"></div>
                                </div>
                                <div class="stars-img">
                                    <div class="stars">
                                        <span class="star-icon fulli">☆</span>
                                        <span class="star-icon fulli">☆</span>
                                        <span class="star-icon fulli">☆</span>
                                        <span class="star-icon">☆</span>
                                        <span class="star-icon">☆</span>
                                    </div>
                                </div>
                            </figure>
                        </div>
                        <div class="span3 isotope-item filter-2">
                            <figure class="post-image">
                                <img alt="" src="~/Content/images/gallery/gallery4.jpg">
                                <div class="type-icon">
                                    <div class="type-photo"></div>
                                </div>
                                <div class="stars-img">
                                    <div class="stars">
                                        <span class="star-icon fulli">☆</span>
                                        <span class="star-icon fulli">☆</span>
                                        <span class="star-icon fulli">☆</span>
                                        <span class="star-icon">☆</span>
                                        <span class="star-icon">☆</span>
                                    </div>
                                </div>
                            </figure>
                        </div>
                        <div class="span3 isotope-item filter-p">
                            <figure class="post-image">
                                <img alt="" src="~/Content/images/gallery/gallery5.jpg">
                                <div class="type-icon">
                                    <div class="type-photo"></div>
                                </div>
                                <div class="stars-img">
                                    <div class="stars">
                                        <span class="star-icon fulli">☆</span>
                                        <span class="star-icon fulli">☆</span>
                                        <span class="star-icon fulli">☆</span>
                                        <span class="star-icon">☆</span>
                                        <span class="star-icon">☆</span>
                                    </div>
                                </div>
                            </figure>
                        </div>
                        <div class="span3 isotope-item filter-2 filter-3">
                            <figure class="post-image">
                                <img alt="" src="~/Content/images/gallery/gallery6.jpg">
                                <div class="type-icon">
                                    <div class="type-photo"></div>
                                </div>
                                <div class="stars-img">
                                    <div class="stars">
                                        <span class="star-icon fulli">☆</span>
                                        <span class="star-icon fulli">☆</span>
                                        <span class="star-icon fulli">☆</span>
                                        <span class="star-icon">☆</span>
                                        <span class="star-icon">☆</span>
                                    </div>
                                </div>
                            </figure>
                        </div>
                        <div class="span3 isotope-item filter-p">
                            <figure class="post-image">
                                <img alt="" src="~/Content/images/gallery/gallery7.jpg">
                                <div class="type-icon">
                                    <div class="type-photo"></div>
                                </div>
                                <div class="stars-img">
                                    <div class="stars">
                                        <span class="star-icon fulli">☆</span>
                                        <span class="star-icon fulli">☆</span>
                                        <span class="star-icon fulli">☆</span>
                                        <span class="star-icon">☆</span>
                                        <span class="star-icon">☆</span>
                                    </div>
                                </div>
                            </figure>
                        </div>
                        <div class="span3 isotope-item filter-2">
                            <figure class="post-image">
                                <img alt="" src="~/Content/images/gallery/gallery8.jpg">
                                <div class="type-icon">
                                    <div class="type-photo"></div>
                                </div>
                                <div class="stars-img">
                                    <div class="stars">
                                        <span class="star-icon fulli">☆</span>
                                        <span class="star-icon fulli">☆</span>
                                        <span class="star-icon fulli">☆</span>
                                        <span class="star-icon">☆</span>
                                        <span class="star-icon">☆</span>
                                    </div>
                                </div>
                            </figure>
                        </div>
                        <div class="span3 isotope-item filter-3">
                            <figure class="post-image">
                                <img alt="" src="~/Content/images/gallery/gallery9.jpg">
                                <div class="type-icon">
                                    <div class="type-photo"></div>
                                </div>
                                <div class="stars-img">
                                    <div class="stars">
                                        <span class="star-icon fulli">☆</span>
                                        <span class="star-icon fulli">☆</span>
                                        <span class="star-icon fulli">☆</span>
                                        <span class="star-icon">☆</span>
                                        <span class="star-icon">☆</span>
                                    </div>
                                </div>
                            </figure>
                        </div>
                        <div class="span3 isotope-item filter-2">
                            <figure class="post-image">
                                <img alt="" src="~/Content/images/gallery/gallery10.jpg">
                                <div class="type-icon">
                                    <div class="type-photo"></div>
                                </div>
                                <div class="stars-img">
                                    <div class="stars">
                                        <span class="star-icon fulli">☆</span>
                                        <span class="star-icon fulli">☆</span>
                                        <span class="star-icon fulli">☆</span>
                                        <span class="star-icon">☆</span>
                                        <span class="star-icon">☆</span>
                                    </div>
                                </div>
                            </figure>
                        </div>
                        <div class="span3 isotope-item filter-p">
                            <figure class="post-image">
                                <img alt="" src="~/Content/images/gallery/gallery11.jpg">
                                <div class="type-icon">
                                    <div class="type-photo"></div>
                                </div>
                                <div class="stars-img">
                                    <div class="stars">
                                        <span class="star-icon fulli">☆</span>
                                        <span class="star-icon fulli">☆</span>
                                        <span class="star-icon fulli">☆</span>
                                        <span class="star-icon">☆</span>
                                        <span class="star-icon">☆</span>
                                    </div>
                                </div>
                            </figure>
                        </div>
                        <div class="span3 isotope-item filter-2 filter-3">
                            <figure class="post-image">
                                <img alt="" src="~/Content/images/gallery/gallery15.jpg">
                                <div class="type-icon">
                                    <div class="type-photo"></div>
                                </div>
                                <div class="stars-img">
                                    <div class="stars">
                                        <span class="star-icon fulli">☆</span>
                                        <span class="star-icon fulli">☆</span>
                                        <span class="star-icon fulli">☆</span>
                                        <span class="star-icon">☆</span>
                                        <span class="star-icon">☆</span>
                                    </div>
                                </div>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================================================================================================-->
       