﻿@{
    ViewBag.Title = "Home Page";
}

<div class="container full-page">



    <div class="sidebars clearfix">
        <!--two sidebar's container start-->
 
         @{
             //Html.RenderAction("_Slider", "Home");
         }

        <div class="br"></div>

        <div class="services clearfix">

            <div class="service ser1 span3">
                <h2>@Resources.Home.BeingaStudentinTurkey</h2>
                <p class="service-text">
                    @Resources.Home.Havingalong
                </p>

                <div class="read-more pull-right">
                    <a href="#">@Resources.Home.Readmore</a>
                </div>
            </div>

            <div class="service ser2 span3">
                <h2>@Resources.Home.FunCampusLife</h2>
                <p class="service-text">
                    @Resources.Home.Everydayyouspend
                </p>

                <div class="read-more pull-right">
                    <a href="#">@Resources.Home.Readmore</a>
                </div>
            </div>

            <div class="service ser3 span3">
                <h2>@Resources.Home.LifeStyleinTurkey</h2>
                <p class="service-text">
                     @Resources.Home.TheTurkishlifestyle
                </p>

                <div class="read-more pull-right">
                    <a href="#">@Resources.Home.Readmore</a>
                </div>
            </div>

            <div class="service ser4 span3">
                <h2>@Resources.Home.TurkishCuisine</h2>
                <p class="service-text">
                    @Resources.Home.Turkishfood

                </p>

                <div class="read-more pull-right">
                    <a href="#">@Resources.Home.Readmore</a>
                </div>
            </div>




        </div>

        <!--================================================================================================-->
        <div class="br"></div>
        <div class="br"></div>
        <div class="br"></div>
    </div>
    <!--================================================================================================-->

</div> <!--two sidebar's container end-->
