﻿@{
    ViewBag.Title = "StudentLife";
}
<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('~/Content/images/posts/logosss.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

                <div class="latest-news clearfix">
                    <h2 class="title">Students Life In Turkey</h2>
                    <div class="clr"></div>
                    <div class="span4 left-row">


                        <div class="post">
                            <div class="post-image">
                                <img src="~/Content/images/posts/bst.jpg" alt="post image" />
                                <div class="type-icon">
                                    <div class="type-photo"></div>
                                </div>
                                <div class="stars-img">
                                    <div class="stars">
                                        <span class="star-icon fulli">☆</span>
                                        <span class="star-icon fulli">☆</span>
                                        <span class="star-icon fulli">☆</span>
                                        <span class="star-icon">☆</span>
                                        <span class="star-icon">☆</span>
                                    </div>
                                </div>
                            </div>
                            <div class="post-detail">
                                <h3 class="post-title">BEING A STUDENT IN TURKEY</h3></h3>
                                                                                           
                                <span class="dates">01 jan, 2016 / Istanbul</span>
                                <p class="post-description">
                                    Having a long-established education system and being a home to numerous civilizations for centuries,
                                    Turkey has always welcomed world famous artists, authors, philosophers and scientists who have contributed 
                                    greatly to their fields of study. Hence, if you choose to be an international student in Turkey, 
                                    you will not only have the opportunity to benefit from the cultural diversity and experience Turkey offers, 
                                    you will also be an “added value” to Turkish culture with your unique personality and diversity.
                                    With your decision to study in Turkey, you will start your university education in one of the 178 
                                    universities around Turkey.
                                </p>
                                
                                <div class="sign-up"></div>
                            </div>
                        </div>


                        <div class="post">
                            <div class="post-image">
                                <img src="~/Content/images/posts/tf.jpg" alt="post image" />
                                <div class="type-icon">
                                    <div class="type-photo"></div>
                                </div>
                                <div class="stars-img">
                                    <div class="stars">
                                        <span class="star-icon fulli">☆</span>
                                        <span class="star-icon fulli">☆</span>
                                        <span class="star-icon fulli">☆</span>
                                        <span class="star-icon">☆</span>
                                        <span class="star-icon">☆</span>
                                    </div>
                                </div>
                            </div>
                            <div class="post-detail">
                                <h3 class="post-title">Turkish Cuisine </h3>
                                <span class="dates">11 Jul, 2016 / Istanbul</span>
                                <p class="post-description">
                                    Turkish food is renowned as one of the top three world cuisines. Because of its geographical position and cultural heritage,
                                    Turkish cuisine has been influential in and influenced by Europe, Asia, the Middle East and Africa. 
                                    The Turkish cooking tradition has a unique historical heritage and makes use of an incredibly rich
                                    variety of natural ingredients; this has all led to a unique fusion of East and West.
                                </p>
                              
                                <div class="sign-up"></div>
                            </div>
                        </div>


                    </div>
                    <div class="span4 right-row">



                        <div class="post">
                            <div class="post-detail">
                                <h3 class="post-title">Fun Campus Life </h3>
                                <span class="dates">02 Jan, 2016 / Istanbul</span>
                                <p class="post-description">
                                    Every day you spend in Turkey will be fun because of the vivid and vibrant campus life.
                                    You will enjoy your life as a student on campuses that are beautiful and colorful.  
                                    You will be entertained by the fun activities during “Spring Festivals”
                                    that are held annually in most university campuses in Turkey. 
                                    In addition, you will establish warm and sincere friendships in Turkey. 
                                    You will savor Turkish hospitality -- you will be treated as a guest and will be offered
                                    a hand whenever you need it.  And soon you will feel at home and as a member of this big family.
                                    Every moment you share will enrich your life and be an addition to your happiness.
                                </p>
                               
                                <div class="sign-down"></div>
                            </div>
                            <div class="post-image">
                                <img src="~/Content/images/posts/fun.jpg" alt="post image" />
                                <div class="type-icon">
                                    <div class="type-video"></div>
                                </div>
                                <div class="stars-img">
                                    <div class="stars">
                                        <span class="star-icon fulli">☆</span>
                                        <span class="star-icon fulli">☆</span>
                                        <span class="star-icon fulli">☆</span>
                                        <span class="star-icon">☆</span>
                                        <span class="star-icon">☆</span>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="post">
                            <div class="post-detail">
                                <h3 class="post-title">Social Life</h3>
                                <span class="dates">21 Jan, 2016 / Istanbul</span>
                                <p class="post-description">
                                    Studying in Turkey offers a great opportunity for a high quality education, but there is so much more on offer.
                                    Turkey's cities have many historical and cultural sites to visit, music concerts of popular and traditional
                                    music and an abundance of exhibitions and festivals for those who feel like exploring Turkish culture to the fullest.

                                    As an international student you may consider joining one or more of the many social clubs and
                                    student associations to enrich your social life. In this beautiful country you can enjoy four 
                                    distinct seasons, all of which provide their own outdoor sporting possibilities,
                                    Football, basketball, volleyball and of course cycling and jogging, as well as yoga and Thai-chi,
                                    are all part of the vast array of sports and recreational activities you can enjoy.

                                </p>
                               
                                <div class="sign-down"></div>
                            </div>
                            <div class="post-image">
                                <img src="~/Content/images/posts/sl.jpg" alt="post image" />
                                <div class="type-icon">
                                    <div class="type-photo"></div>
                                </div>
                                <div class="stars-img">
                                    <div class="stars">
                                        <span class="star-icon fulli">☆</span>
                                        <span class="star-icon fulli">☆</span>
                                        <span class="star-icon fulli">☆</span>
                                        <span class="star-icon">☆</span>
                                        <span class="star-icon">☆</span>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>

                    <hr class="small">

                </div>
            </div>
        </div>
    </div>
</header>




<div><br></div>






<!-- Main Content -->
<div class="container">

    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div>
                <h2 class="title"><h1>Life Style in Turkey</h1></h2>
                <div> <hr></div>
                <p>
                    The Turkish lifestyle is a colorful mosaic connecting the modern and ancient worlds of Eastern and Western cultures and traditions.
                    It is a place where you feel you are constantly walking through history, following in the footsteps of Ottoman Sultans and historical
                    legends such as Alexander, Constantine and Genghis Khan. In the vibrant and beautiful city of Istanbul, once known of course,
                    as Constantinople, you are one moment at the cutting edge of modernity, glamour and fine dining, the next in the shadow of the
                    Blue Mosque or wandering through palace gardens. There is truly nowhere like it in the world.

                    Turkey is the only secular country in the Islamic world. Secularism is enshrined in the constitution which states that religion
                    has no place in governing political affairs. For many centuries, people of different faiths lived together in peace and harmony, 
                    and this diversity has been preserved through the modern, ever evolving, laws of today. People wear modern dress as in any other western country:
                    from the ubiquitous jeans and t-shirt, to hip-hop inspired urban streetwear. You will see punks and Goths, 
                    side by side with traditional country folk in their colorful head scarves and caps. 
                    But you will also see the high society and jet set in their evening dress and designer clothes, worn with a panache and elegance,
                    even on the beach.

                    Visitors are mostly surprised by the friendliness, warmth and hospitality of the Turkish people.
                    Also most Turks enjoy meeting foreign visitors, learning about different ways of life and practicing their language skills.
                    Hospitality is the cornerstone of Turkish culture.
                </p>
            </div>


        </div>
    </div>
</div>


