﻿@{
    ViewBag.Title = "Universities";
}
<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('~/Content/images/posts/mostviewed1.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

                <div class="latest-news clearfix">
                    <h2 class="title">Universities</h2>
                    <div class="clr"></div>
                    <div class="span4 left-row">


                        <div class="post">
                            <div class="post-image">
                                <img src="~/Content/images/posts/latestnews3.jpg" alt="post image" />
                                <div class="type-icon">
                                    <div class="type-photo"></div>
                                </div>
                                <div class="stars-img">
                                    <div class="stars">
                                        <span class="star-icon fulli">☆</span>
                                        <span class="star-icon fulli">☆</span>
                                        <span class="star-icon fulli">☆</span>
                                        <span class="star-icon">☆</span>
                                        <span class="star-icon">☆</span>
                                    </div>
                                </div>
                            </div>
                            <div class="post-detail">
                                <h3 class="post-title">Bahcesehir University</h3>
                                <span class="dates">01 jan, 2016 / Istanbul</span>
                                <p class="post-description">
                                    The slogan "At the heart of Istanbul" is suitable for a university like Bahcesehir University (BAU)...
                                     With its main campus on the edge of the Bosphorus in Besiktas each day begins early with rapid 
                                    mobility and continues throughout the day. Moreover, it is possible to encounter an event at
                                     almost every part of the university.
                                </p>
                                <div class="read-more">
                                    <a href="http://www.bahcesehir.edu.tr">Visit University</a>
                                </div>
                                <div class="sign-up"></div>
                            </div>
                        </div>


                        <div class="post">
                            <div class="post-image">
                                <img src="~/Content/images/posts/latestnews1.jpg" alt="post image" />
                                <div class="type-icon">
                                    <div class="type-photo"></div>
                                </div>
                                <div class="stars-img">
                                    <div class="stars">
                                        <span class="star-icon fulli">☆</span>
                                        <span class="star-icon fulli">☆</span>
                                        <span class="star-icon fulli">☆</span>
                                        <span class="star-icon">☆</span>
                                        <span class="star-icon">☆</span>
                                    </div>
                                </div>
                            </div>
                            <div class="post-detail">
                                <h3 class="post-title"> Fatih University</h3>
                                <span class="dates">11 Jul, 2016 / Istanbul</span>
                                <p class="post-description">
                                    Fatih University was founded by Turkish Association of Health and Medical Treatment, in 1996.
                                     It carries out its educational and research activities on Büyükçekmece(İstanbul) campuses.
                                    Fatih University considers respect to human beings and the environment as a base in producing information.
                                     It foregrounds interdisciplinary approaches and critical thinking in the process of producing, 
                                    accessing to and using knowledge. Education and research activities are shaped in the way that deals
                                     with universal values and scientific ethic rules in local frame, and aims at brining productive and innovative individuals up.
                                </p>
                                <div class="read-more">
                                    <a href="http://www.fatih.edu.tr/?&language=EN">Visit University</a>
                                </div>
                                <div class="sign-up"></div>
                            </div>
                        </div>


                    </div>
                    <div class="span4 right-row">



                        <div class="post">
                            <div class="post-detail">
                                <h3 class="post-title">Beykent University</h3>
                                <span class="dates">02 Jan, 2016 / Istanbul</span>
                                <p class="post-description">
                                    Beykent University offers education service with its world standard technical equipment
                                     and practice area and its well-chosen academic staff, in which every year 50% of over 15.000 students
                                     become scholarship students. Our University has 5 different campuses, 8 Faculties,
                                     4 Vocational Schools, a Distance Learning System, 2 Institutes, 3 Research Centers 
                                    and a Continuing Education and Research Center.
                                </p>
                                <div class="read-more">
                                    <a href="http://www.beykent.edu.tr">Visit University</a>
                                </div>
                                <div class="sign-down"></div>
                            </div>
                            <div class="post-image">
                                <img src="~/Content/images/posts/latestnews2.jpg" alt="post image" />
                                <div class="type-icon">
                                    <div class="type-video"></div>
                                </div>
                                <div class="stars-img">
                                    <div class="stars">
                                        <span class="star-icon fulli">☆</span>
                                        <span class="star-icon fulli">☆</span>
                                        <span class="star-icon fulli">☆</span>
                                        <span class="star-icon">☆</span>
                                        <span class="star-icon">☆</span>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="post">
                            <div class="post-detail">
                                <h3 class="post-title">Istanbul Arel University</h3>
                                <span class="dates">21 Jan, 2016 / Istanbul</span>
                                <p class="post-description">
                                    Istanbul Arel University has adopted as a principle to provide its students with a modern higher education
                                     at international academic standarts, since this is the basic way to ensure that our country earns the 
                                    reputation it deserves among world countries. Istanbul Arel University aims to raise individuals who are
                                     devoted to principles and reforms of Atatürk; believe in existence of Republic of Turkey as a secular,
                                     democratic and social law state; who research, think globally, respect universal values; and who are
                                     adhered to national values and open to scientific, technologic developments.
                                </p>
                                <div class="read-more">
                                    <a href="http://www.arel.edu.tr/en">Visit University</a>
                                </div>
                                <div class="sign-down"></div>
                            </div>
                            <div class="post-image">
                                <img src="~/Content/images/posts/latestnews4.jpg" alt="post image" />
                                <div class="type-icon">
                                    <div class="type-photo"></div>
                                </div>
                                <div class="stars-img">
                                    <div class="stars">
                                        <span class="star-icon fulli">☆</span>
                                        <span class="star-icon fulli">☆</span>
                                        <span class="star-icon fulli">☆</span>
                                        <span class="star-icon">☆</span>
                                        <span class="star-icon">☆</span>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>

                    <hr class="small">

                </div>
            </div>
        </div>
    </div>
</header>




<div><br></div>


  

   

    <!-- Main Content -->
    <div class="container">

        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div>
                    <h2 class="title"><h1>University Education</h1></h2>
                    <div> <hr></div>
                    <p>
                        Turkish universities are Republican institutions, following Atatürk’s principles. Universities, faculties, 
                        institutes, higher education schools, conservatories, vocational higher education schools, police and military academies and colleges, 
                        and application-research centers are considered as Higher Education institutions.
                        Universities, faculties and institutes of four-year higher education schools are founded by Law,
                         while the two-year vocational schools,
                         departments and divisions are established by the Council of Higher Education (YÖK).
                         Universities are under the supervision of this Council and their programmes must be regularly
                         accredited. The Council of Higher Education is a fully autonomous national board of trustees without
                         any political or government affiliation. Universities have their rectors, deans, senate, and administrative boards,
                         as well as student councils. In the universities, the instruction is generally in Turkish.
                         Some universities use English, French and German as the language of instruction with one preparatory year if necessary.
                        After the highschool, the graduates enter an one-stage examination (ÖSS – Student Selection Examination) in order to be admitted to
                         Higher Education institutions. This nation-wide centralized examination is administrated by the Student Selection and Placement 
                        Center (ÖSYM) every year, which determines candidates for the enrollment of each university and faculty after 
                        evaluating the grades of related subjects, their high school average results and their preferences according to 
                        the student capacity of each faculty. Those with good grades are qualified for the four-year undergraduate programmes
                         and at the end they can get a Bachelor’s Degree (BA), those who have grades at the limit can be admitted to the two-year
                         higher education programmes and at the end they can get an Associate’s Degree (AA). Dentistry and Veterinary Medicine
                         courses last for five years and Medicine for six years.
                        After a four-year faculty, one can go further for his/her Master’s Degree which lasts for two years with thesis and non-thesis options.
                         Access to doctoral programs requires a master’s degree and have a duration of minimum four years with a doctoral thesis at the end.
                         The graduates of Medicine, Veterinary Medicine and Dentistry can directly apply to PhD/Doctorate programmes.
                        The purpose of higher education is to raise the students in line with their interests and skills, 
                        in conformance to the science policy of the country and in consideration of qualified manpower needs of society at several levels, 
                        to do researches in scientific areas, to arrange for all kinds of publications that show the research and examination results and 
                        facilitate advancement of science and technology, to finalize the researches and examinations demanded by the government and to make comments,
                         to make written or oral public announcements explaining the scientific data that shall increase the general level of Turkish society and enlighten the public, 
                        and to give non-formal education.
                        According to the Law, higher education institutions are responsible for the training of their own academic staff. Meanwhile, Primary and Secondary school teachers are 
                        trained in universities for 4 years and they get a BA degree at the end.
                        The major source of income of state universities is the funds allocated through the annual State budget, 
                        this is equivalent of about 60% of the total university income. In addition to this, a university can generate its own income from the services provided by that university,
                         such as patient care in university hospitals. Student contributions to state universities form only 4% of the total university budget. Meanwhile, 
                        the student fees in private foundation (Vakif) universities are much higher.
                        At present, enrolment in the private universities accounts for only 5% of the total. Clearly,
                         state universities are by far carrying the major portion of the load of higher education in Turkey.
                    </p>
                </div>


            </div>
        </div>
    </div>


