﻿
@{
    ViewBag.Title = "Details";
    
}


<div><hr></div>
 <div class="sidebars clearfix" style="text-align:center">

     @Session["ad"]
     @Session["id"]

    <section id="content">
        <form action="/Home/uyeGirisYardim" method="post">
            <h1>Yönetici Girişi</h1><br />
            <div>
                <input name="kadi" type="text" placeholder="Username" required="" id="username" />
            </div>
            <div>
                <input name="password" type="password" placeholder="Password" required="" id="password" />
            </div>
            <div>
                <input type="submit" value="Giriş" />
                

            </div>
        </form>
     
     <!-- form -->
        <div class="button">
        </div><!-- button -->
    </section><!-- content -->
</div>
<div><hr></div>