﻿@model IEnumerable<myProje2015.makale>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.makaleBaslik)
        </th>
        <th>
            Makale İçerik
        </th>
        <th>
            Yayınlanma Tarihi
        </th>
        <th>
            Kategori
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.makaleBaslik)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.makaleIcerik)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.makaleTarih)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.kategori.kategoriAd)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.makaleID }) |
            @Html.ActionLink("Details", "Details", new { id=item.makaleID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.makaleID })
        </td>
    </tr>
}

</table>
