﻿@model myProje2015.slider

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>slider</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.slidFoto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.slidFoto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.slidText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.slidText)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.baslangicTarih)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.baslangicTarih)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bitisTarih)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bitisTarih)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.resimYolu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.resimYolu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kategori.kategoriAd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kategori.kategoriAd)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.sliderID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
