﻿@model IEnumerable<myProje2015.slider>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.slidFoto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.slidText)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.baslangicTarih)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bitisTarih)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.resimYolu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.kategori.kategoriAd)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.slidFoto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.slidText)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.baslangicTarih)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.bitisTarih)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.resimYolu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.kategori.kategoriAd)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.sliderID }) |
            @Html.ActionLink("Details", "Details", new { id=item.sliderID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.sliderID })
        </td>
    </tr>
}

</table>
