.pix_diapo {
	background: #000;
	-moz-box-shadow: 0 3px 6px #000;
	-webkit-box-shadow: 0 3px 6px #000;
	
	height: 435px;
	
	overflow: hidden;
	position: relative;
	width: 100%;
}
.pix_diapo > div {
	display: none;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
#pix_prev, #pix_next {
	cursor: pointer;
	display: block;
	height: 40px;
	margin-top: -20px;
	position: absolute;
	top: 50%;
	width: 40px;
	z-index: 1001;
}

#pix_pag {
	margin: 0 auto;
	position: relative;
	width: 100%;
	z-index: 1002;
}
#pix_commands {
	cursor: pointer;
	display: block;
	float: left;
	height: 26px;
	margin: 15px 0 0 13px;
	position: relative;
	width: 24px;
}
#pix_play {
	background: url(../images/diapo/play.html) center no-repeat;
	height: 24px;
	left: 0;
	position: absolute;
	top: 0;
	width: 24px;
	display:none !important;
}
#pix_stop {
	background: url(../images/diapo/pause.html) center no-repeat;
	height: 24px;
	left: 0;
	position: absolute;
	top: 0;
	width: 24px;
	display:none !important;
}
. full-slider #pix_pag{
	max-width:150px;
    margin:0 auto
	}
#pix_pag_ul {
	float:right;
	margin: 0;
	margin-top:-50px;
	padding: 0;
	
}
.full-slider #pix_pag_ul {
	
	margin: 0;
	margin-top:-50px;
	padding: 0;
	text-align:center
}
#pix_pag_ul > li {
	cursor: pointer;
	display: block;
	.display: inline-block;
	float: left;
	list-style: none;
	margin: 0 10px 0 0;
	padding: 10px 4px 0;
	text-align: center;
	text-indent: -9999px;
	width: 8px;
}
#pix_pag_ul > li > span {
	background: #fff;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	display: block;
	height: 14px;
	width: 14px;
}
#pix_pag_ul > li:hover > span > span {
	background: #fff;
}
#pix_pag_ul > li > span > span {
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	display: block;
	float: left;
	height: 6px;
	margin: 4px;
	width: 6px;
}
#pix_pag_ul > li.diapocurrent > span > span {
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
#pix_pag_ul > li > .pix_thumb {
	border: 4px solid #f2f2f2;
	.border: 4px solid #e6e6e6;
	border: 4px solid #e6e6e6\9;
	-moz-box-shadow: 0 1px 8px #000;
	-webkit-box-shadow: 0 1px 8px #000;
	box-shadow: 0 1px 8px #000;
	height: 58px;
 	left: -17px;
	position: absolute;
	top: -40px;
	width: 58px;
}
#pix_pag_ul > li > .thumb_arrow {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid  #e6e6e6;
	top: 26px;
	left: 12px;
	position: absolute;
}
.pix_relativize {
	overflow: hidden;
	position: relative;
}
.imgFake {
	cursor: pointer;
}
.elemHover {
	position: absolute;
}
.caption {
	background: rgba(0, 0, 0, 0.8);
    .filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc000000, endColorstr=#cc000000);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc000000, endColorstr=#cc000000)\9;
	bottom: 0px;
	margin-top:-30px;
	color: #fff;
	display: block;
	font-size: 13px;
	padding: 20px;
	width: 70%;
	padding-right:220px;
}
.full-slider .caption {
	background: rgba(0, 0, 0, 0.8);
    .filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc000000, endColorstr=#cc000000);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc000000, endColorstr=#cc000000)\9;
	bottom: 150px;
	margin-top:-30px;
	color: #fff;
	display: block;
	font-size: 13px;
	padding: 30px 60px 30px 60px;
	width: 50%;
	left:20%;
	text-align:center
}
.full-slider .caption img{
	padding-top:10px;
	margin-right:55px;
	}
.full-slider .caption h1{

	margin-left:55px;
	}
.full-slider .caption h2{
	font-size:24px !important;
	font-weight:normal !important;
	}
.ui-loader {
	display: none;
}
